- **Márka** (autómárkák):
    
    - `marka_id` (PK) – egyedi azonosító.
        
    - `nev` – a márka neve (pl. Toyota, BMW).  
        _Leírás:_ Ez a tábla tárolja az autómárkák nevét. Egy márkának több modellje is lehet.
        
- **Modell** (autómodellek):
    
    - `modell_id` (PK) – egyedi azonosító.
        
    - `marka_id` (FK) – utal a Márka táblára.
        
    - `nev` – a modell neve (pl. Corolla, Focus).  
        _Leírás:_ Egy modell mindig egy márkához tartozik, ezért `marka_id` idegen kulcs.
        
- **Autó** (árukészlet – konkrét autók):
    
    - `auto_id` (PK) – egyedi azonosító.
        
    - `modell_id` (FK) – utal a Modell táblára.
        
    - `evjarat` – gyártási év.
        
    - `szin` – az autó színe.
        
    - `ar` – alapár (listaár) a kereskedői készletben.  
        _Leírás:_ Ez a tábla a készleten lévő autókat tartalmazza. Minden autóhoz egy modell tartozik (`modell_id`), így közvetetten a márkához is kapcsolódik.
        
- **Vevő** (ügyfelek):
    
    - `vevo_id` (PK) – egyedi azonosító.
        
    - `nev` – a vevő neve.
        
    - `cim` – cím (lakcím).
        
    - `telefon` – elérhetőségi telefonszám.  
        _Leírás:_ A kereskedés vevőit azonosítjuk ezzel a táblával. Egy vevő több vásárlást is végrehajthat.
        
- **Dolgozó** (alkalmazottak, eladók):
    
    - `dolgozo_id` (PK) – egyedi azonosító.
        
    - `nev` – dolgozó neve.
        
    - `beosztas` – munkakör (pl. értékesítő, menedzser).  
        _Leírás:_ Az értékesítők adatait tartalmazza. Egy dolgozó több eladást lebonyolíthat.
        
- **Eladás** (tranzakciók):
    

- `eladas_id` (PK) – egyedi azonosító.
    
- `auto_id` (FK) – eladott autó azonosítója.
    
- `vevo_id` (FK) – vásárló azonosítója.
    
- `dolgozo_id` (FK) – a tranzakciót végző dolgozó azonosítója.
    
- `eladas_datuma` – az eladás dátuma.
    
- `eladas_ar` – tényleges eladási ár.  
    _Leírás:_ <span style="color: var(--vscode-foreground);"> Ez a tábla kapcsolja össze a vásárlót és a megvásárolt autót, valamint rögzíti az eladás időpontját és árát. Minden mező közvetlenül kapcsolódik a kulcshoz, így a séma megfelel a 3NF előírásainak</span>
    

  

A kapcsolatok összefoglalása: egy **Márka**\-hoz több **Modell** tartozhat; egy **Modell**\-hez több **Autó**; egy **Vevő**\-höz több **Eladás**; egy **Dolgozó**\-hoz több **Eladás**; és minden **Eladás** egy **Autó**\-t, egy **Vevő**\-t és egy **Dolgozó**\-t köt össze.

In [3]:
-- Fizikai modell
-- Adatbázis létrehozása
CREATE DATABASE autokereskedes;
GO

-- Váltás az adatbázisra
USE autokereskedes;
GO

-- Márka tábla
CREATE TABLE marka (
    marka_id INT PRIMARY KEY,
    nev VARCHAR(50) NOT NULL
);

-- Modell tábla
CREATE TABLE modell (
    modell_id INT PRIMARY KEY,
    marka_id INT NOT NULL,
    nev VARCHAR(50) NOT NULL,
    FOREIGN KEY (marka_id) REFERENCES marka(marka_id)
);

-- Autó tábla
CREATE TABLE auto (
    auto_id INT PRIMARY KEY,
    modell_id INT NOT NULL,
    evjarat INT,
    szin VARCHAR(20),
    ar DECIMAL(10,2),
    FOREIGN KEY (modell_id) REFERENCES modell(modell_id)
);

-- Vevő tábla
CREATE TABLE vevo (
    vevo_id INT PRIMARY KEY,
    nev VARCHAR(50) NOT NULL,
    cim VARCHAR(100),
    telefon VARCHAR(20)
);

-- Dolgozó tábla
CREATE TABLE dolgozo (
    dolgozo_id INT PRIMARY KEY,
    nev VARCHAR(50) NOT NULL,
    beosztas VARCHAR(30)
);

-- Eladás tábla
CREATE TABLE eladas (
    eladas_id INT PRIMARY KEY,
    auto_id INT NOT NULL,
    vevo_id INT NOT NULL,
    dolgozo_id INT NOT NULL,
    eladas_datuma DATE NOT NULL,
    eladas_ar DECIMAL(10,2) NOT NULL,
    FOREIGN KEY (auto_id) REFERENCES auto(auto_id),
    FOREIGN KEY (vevo_id) REFERENCES vevo(vevo_id),
    FOREIGN KEY (dolgozo_id) REFERENCES dolgozo(dolgozo_id)
);

: Query failed: The operation was canceled.

In [ ]:
-- Adatbazis
INSERT INTO marka (marka_id, nev) VALUES
(1, 'Toyota'),
(2, 'BMW'),
(3, 'Ford'),
(4, 'Audi'),
(5, 'Mercedes'),
(6, 'Tesla');

INSERT INTO modell (modell_id, nev, evjarat, marka_id) VALUES
(1, 'Corolla', 2020, 1),
(2, 'Camry', 2021, 1),
(3, 'X5', 2019, 2),
(4, 'Focus', 2018, 3),
(5, 'A4', 2022, 4),
(6, 'Model 3', 2023, 6),
(7, 'C-Class', 2020, 5),
(8, 'Model Y', 2022, 6);

INSERT INTO auto (auto_id, rendszam, ar, eladva, modell_id) VALUES
(1, 'ABC-123', 4500000, 1, 1),
(2, 'DEF-456', 6200000, 1, 2),
(3, 'GHI-789', 9500000, 0, 3),
(4, 'JKL-012', 3200000, 1, 4),
(5, 'MNO-345', 7500000, 1, 5),
(6, 'PQR-678', 12500000, 0, 6),
(7, 'STU-901', 8800000, 1, 7),
(8, 'VWX-234', 13300000, 1, 8);

INSERT INTO vasarlo (vasarlo_id, nev, telefonszam, email) VALUES
(1, 'Kiss Péter', '06301234567', 'kiss.peter@gmail.com'),
(2, 'Nagy Anna', '06304567891', 'nagy.anna@freemail.hu'),
(3, 'Szabó Gábor', '06307654321', 'szabo.gabor@yahoo.com'),
(4, 'Kovács Laura', '06309998888', 'kovacs.laura@hotmail.com');

INSERT INTO vasarlas (vasarlas_id, datum, vasarlo_id, auto_id) VALUES
(1, '2024-01-12', 1, 1),
(2, '2024-02-10', 2, 2),
(3, '2024-03-15', 3, 4),
(4, '2024-04-20', 4, 5),
(5, '2024-05-01', 1, 7),
(6, '2024-05-15', 2, 8);

In [ ]:
-- Lekérdezések

-- Összes eladások darabszáma és összege:
SELECT COUNT(*) AS darab, SUM(eladas_ar) AS osszeg
FROM eladas;

-- Eladott autók márkánként:
SELECT m.nev AS marka, COUNT(*) AS darab
FROM eladas AS e
JOIN auto AS a ON e.auto_id = a.auto_id
JOIN modell AS mo ON a.modell_id = mo.modell_id
JOIN marka AS m ON mo.marka_id = m.marka_id
GROUP BY m.nev
ORDER BY darab DESC;

-- Legnépszerűbb modellek:
SELECT mo.nev AS modell, m.nev AS marka, COUNT(*) AS darab
FROM eladas AS e
JOIN auto AS a ON e.auto_id = a.auto_id
JOIN modell AS mo ON a.modell_id = mo.modell_id
JOIN marka AS m ON mo.marka_id = m.marka_id
GROUP BY mo.nev, m.nev
ORDER BY darab DESC
LIMIT 5;

-- Vevők vásárlásai:
SELECT v.nev AS vevo, m.nev AS marka, mo.nev AS modell,
       e.eladas_datuma, e.eladas_ar
FROM eladas AS e
JOIN vevo AS v ON e.vevo_id = v.vevo_id
JOIN auto AS a ON e.auto_id = a.auto_id
JOIN modell AS mo ON a.modell_id = mo.modell_id
JOIN marka AS m ON mo.marka_id = m.marka_id
ORDER BY v.nev, e.eladas_datuma;

-- Dolgozók értékesítési statisztikája:
SELECT d.nev AS dolgozo, COUNT(*) AS eladott_auto
FROM eladas AS e
JOIN dolgozo AS d ON e.dolgozo_id = d.dolgozo_id
GROUP BY d.nev
ORDER BY eladott_auto DESC;

-- Eladások havi bontásban:
SELECT YEAR(eladas_datuma) AS ev, MONTH(eladas_datuma) AS honap,
       COUNT(*) AS eladas_szam, SUM(eladas_ar) AS eladas_osszeg
FROM eladas
GROUP BY ev, honap
ORDER BY ev, honap;